@media screen and (min-width : 1024px){
    body {
        padding: 2rem 5rem;
    }
}
@media screen and (max-width : 1023px){
    body {
        padding: 2rem;
    }
}

@font-face {
    font-family: Faruma;
    src: url('fonts/Faruma.ttf');
}
.faruma {
    font-family: Faruma, Arial, Helvetica, sans-serif;
    direction: rtl;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="number"] {
    width: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
}
.form > div {
    padding-top: 0.5rem;
}
.form > fieldset {
    margin-top: 0.5rem;
}
.form label, .form > fieldset > legend {
    font-weight: bold;
    padding: 0 5px;
}

.error-text {
    color: red;
}
.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}
table, th, td {
    border: 1px solid;
    padding: 0.5rem;
}
td {
    width: 50%;
}
